{%load static%}


<!-- JS here -->
<script src="{%static 'js/vendor/modernizr-3.5.0.min.js'%}"></script>
<script src="{%static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/owl.carousel.min.js'%}"></script>
<script src="{%static 'js/isotope.pkgd.min.js'%}"></script>
<script src="{%static 'js/ajax-form.js'%}"></script>
<script src="{%static 'js/waypoints.min.js'%}"></script>
<script src="{%static 'js/jquery.counterup.min.js'%}"></script>
<script src="{%static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{%static 'js/scrollIt.js'%}"></script>
<script src="{%static 'js/jquery.scrollUp.min.js'%}"></script>
<script src="{%static 'js/wow.min.js'%}"></script>
<script src="{%static 'js/nice-select.min.js'%}"></script>
<script src="{%static 'js/jquery.slicknav.min.js'%}"></script>
<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{%static 'js/plugins.js'%}"></script>

<!--contact js-->
<script src="{%static 'js/contact.js'%}"></script>
<script src="{%static 'js/jquery.ajaxchimp.min.js'%}"></script>
<script src="{%static 'js/jquery.form.js'%}"></script>
<script src="{%static 'js/jquery.validate.min.js'%}"></script>
<script src="{%static 'js/mail-script.js'%}"></script>

<script src="{%static 'js/main.js'%}"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const searchToggle = document.getElementById('search-toggle');
  const searchBox = document.getElementById('search-input-box');
  const closeSearch = document.getElementById('close-search');
  const searchInput = document.getElementById('search-input');

  searchToggle.addEventListener('click', () => {
    searchBox.classList.add('active');
    searchInput.focus();
  });

  closeSearch.addEventListener('click', () => {
    searchBox.classList.remove('active');
    searchInput.value = '';
  });

  // بستن با کلید Escape
  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape' && searchBox.classList.contains('active')) {
      searchBox.classList.remove('active');
      searchInput.value = '';
    }
  });
});




</script>